<h2>Search results</h2><br>
          <table class="table table-striped">
            <tbody>
              <tr>
                <td>hsd</td>
              </tr>
              <tr>
                <td>asd</td>
              </tr>
            </tbody>
          </table>