<h2><!--Fundraiser's Name -->'s Campaign</h2>

<div id="fundraiser">
   <div id="photo">  
      <!-- Facebook Photo-->

   </div>

   <div id="details">
      <!-- Facebook Profile Details -->

   </div>
</div>

<div id="charity">
   <div id="media">
      <!-- photo or video -->

   </div>

   <div id="details">
      <!-- Message from charity -->

   </div>
</div>

<div id="status">
   <div id="timeframe">

   </div>

   <div id="progress">

      <div id="distance">

      </div>

      <div id="money-raised">

      </div>

      <!-- Logged in User-only -->
      <div id="log-activity">

      </div>
   </div>
</div>

<div id="sponsors">
   <div id="sponsor-names">

   </div>

   <div id="sponsor-new">
      <!-- Button to Sponsor -->

   </div>
</div>