<h2>Create a Campaign</h2>

<div id="charity">

   <div id="charity-select">
      <!-- Drop down, preselected charities -->
      
   </div>

   <div id="charity-details">
      <!-- Video, Text -->

   </div>

</div>

<div id="terms">

   <div id="timeframe">
      <!-- 1-month (default), 3-months -->

   </div>

   
   <div id="activity">
      <!-- Run, Walk, Bike, Swim -->
   
   </div>

</div>

<div id="data">

   <div id="source-select">
      <!-- Manual, FitBit, RunKeeper, etc. -->

   </div>

   <div id="source-options">
      <!-- Auth to FitBit, RunKeeper, etc. -->
   

   </div>

</div>