<div class="row" style="text-align: center;">
<div class="span12">
<h1 class="logotype">GiveGo</h1>
<p class="lead" style="color: #fff; font-size: 25px; text-shadow: 0px 2px 3px #333;">Raise money for charity every time you run, bike or walk.</p>
<br>
<button class="btn btn-large btn-primary facebookconnect">Connect with Facebook</button>
<br>
<br>
</div>
</div>