<div class="row" style="text-align: center;">
<div class="span12">
<h1 class="logotype">GiveGo</h1>
<br>
<button class="btn btn-large btn-primary facebookconnect">Connect with Facebook</button>
<br>
<br>
</div>
</div>