<div class="row" style="text-align: center;">
<div class="span12">
<div class="fuckingbox">
<h1 class="logotype">Give<span style="color: #66cc66;">Go</span></h1>
<p class="lead" style="color: #fff; font-size: 22px; text-shadow: 0px 2px 3px #333;">Raise money for charity every time you run, bike or walk.</p>
<button class="btn btn-large btn-primary facebookconnect">Connect with Facebook</button>
</div>
</div>
</div>