<div class="row" style="text-align: center;">
  <div class="row">
<div class="span12">
<div class="fuckingbox">
<h1 class="logotype">Give<span style="color: #66cc66;">Go</span></h1>
<p class="lead" style="color: #fff; font-size: 22px; text-shadow: 0px 2px 3px #333;">Raise money for charity every time you run, bike or walk.</p>

<iframe width="560" height="315" src="http://www.youtube.com/embed/lNEux3NUuqA" frameborder="0" allowfullscreen></iframe>

<br />
<br />

<%= link_to "Signup for an invite", "http://signup.givego.co", :class => 'btn btn-large btn-primary facebookconnect' %>
<br />
<br />
<p class="lead" style="color: #fff; font-size: 22px; text-shadow: 0px 2px 3px #333;">Winner: AngelHack SF Summer 2012!
  <br />
  <a href="mailto:info@givego.co">Contact Us</a>
</p>

</div>
</div>
</div>
</div>