@import "bootstrap";

body{
	padding-top: 70px;
    background: url('/bg.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

@import "bootstrap-responsive";

.inline {
	display:inline;
}

.center {
	text-align:center;
}

.red {
	color: red;
}

.back-red{
	background-color:red;
}

.logotype {
font-size: 100px;
font-family: 'Fredoka One';
font-style: italic;
margin-bottom: 40px;
margin-top: 50px;
color: #fff;
text-shadow: 0px 2px 3px #000;


}

.facebookconnect {

font-size: 18px;
padding: 10px 25px;
font-weight: bold

}

.fuckingbox {

margin:0 auto;
padding: 10px; 
margin-top: 50px;
		text-align:left;
		height:48em;
		width:75em;
		clear:left;
		text-align: center; background: rgb(54, 25, 25); /* Fall-back for browsers that don't support rgba */
    background: rgba(55, 55, 55, .9);
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 3px #000;

}